---
{
    "stream": {
        "$id": "ds_productCategories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_categoriesPage"
        ]
      },
      "fields": [
        "id",
        "name",
        "c_categories.name",
        "c_categories.c_categoryImage",
        "c_categories.slug"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "product-categories.html"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content="{{description}}">
        {{>head}}
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/fonts/fonts.css" />
    </head>

    <body class="bg-white leading-normal text-sm md:text-base text-blackLight tracking-normal font-worksans">
        
        <!-- Include navbar -->
        {{>navbar}}
        <div class="w-full block h-px shadow"></div>
        <!-- Page title -->
        <div class="text-center w-full max-w-7xl mx-auto px-4 mb-10 mt-10">
            <h2 class="text-3xl md:text-5xl md:mb-4">{{name}}</h2>
        </div>

        <!-- Categories list -->
        <div class="w-full max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-4 md:px-8 pb-8">

            {{#each c_categories}}
                <div class="">
                    <a href={{slug}} class="w-full inline-block align-top relative h-0 pb-[60%] overflow-hidden">
                        <img src="{{c_categoryImage.url}}" class="w-full h-full object-cover absolute top-0 left-0 transition-all duration-700 transform scale-100 hover:scale-110">
                    </a>
                    <h3 class="text-center text-xl">
                        <a class="py-2 inline-block align-top w-full hover:text-primary" href={{slug}}>
                            {{name}}
                        </a>
                    </h3>
                </div>
            {{/each}}

        </div>

        <!-- Footer newsletter section -->
        {{>newsletter}}
        {{>footer}}
    </body>

</html>