---
{
    "stream": {
        "$id": "product-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_productCategory"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "richTextDescription",
        "c_relatedProducts.name",
        "c_relatedProducts.slug",
        "c_relatedProducts.photoGallery",
        "c_relatedProducts.brand",
        "c_relatedProducts.price",
        "c_relatedProducts.color",
        "c_relatedProducts.richTextDescription"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content=Category page for {{name}}.>
        {{>head}}
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    </head>

    <body class="bg-white leading-normal text-sm md:text-base text-blackLight tracking-normal font-worksans">
    
        <!-- Include navbar -->
        {{>navbar}}
        <div class="w-full block h-px shadow"></div>
        <div class="text-center w-full px-4 mb-10 mt-10">
            <h2 class="text-3xl md:text-5xl md:mb-4">{{name}}</h2>
            <div class="text-base max-w-5xl mx-auto">{{convertRTFToHTML richTextDescription}}</div>
        </div>

        <div class="w-full max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-8 pb-16">
            {{#each c_relatedProducts}}
                <div class="text-center">
                    <div class="group cursor-pointer text-center">
                        <div class="relative h-0 inline-block w-full pb-[80%] overflow-hidden group-hover:bg-black group-hover:bg-opacity-5">
                            {{>photoGallery photoGallery}}
                            <a href="{{slug}}" class="absolute bottom-0 left-0 w-full py-3 px-6 bg-primary text-white text-center text-sm font-medium uppercase transition-all duration-500 opacity-0 group-hover:opacity-100 invisible group-hover:visible hover:bg-secondary">
                                <svg class="w-4 h-4 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="#fff" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path>
                                </svg>Quick View
                            </a>
                        </div>
                    </div>
                    <div class="my-3 text-xs uppercase"><a class="inline-block text-black text-opacity-50 mx-1" href="#">{{brand}}</a></div>
                    <h3 class="text-lg font-semibold mb-2"><a href="{{slug}}" class="hover:text-primary text-clip truncate inline-block w-full">{{name}}</a></h3>
                    <div class="">${{price.value}}</div>
                </div>
            {{/each}}
        </div>
        
        <!-- Include footer -->
        {{>newsletter}}
        {{>footer}} 
    </body> 

   

</html>